:root {
    --xMargin: 5em;
    --yMargin: 3em;
    --backgroundColor: rgb(233 233 233);
    --NotificationColor: rgb(0, 0, 0);
    --NotificationTextColor: rgb(255, 255, 255);
    --green: rgb(76, 183, 149);
    --blue: rgb(43, 180, 228);
    --orange: rgb(228, 133, 31);
    --yellow: rgb(236, 185, 46);
    --black: rgb(0, 0, 0);
    --white: rgb(233, 233, 233);
    --whiteNotFull: rgb(233, 233, 233, 0.8);
    --FontName: 'Noto Sans Lao';
    --FontFamily: sans-serif;
    --FontWheight-ExtraBold: 800;
    --FontWheight-Bold: 700;
    --FontWheight-SemiBold: 600;
    --FontWheight-Medium: 500;
    --FontWheight-Regular: 400;
    --FontWheight-Light: 300;
    --FontSizeH1: 4em;
    --FontSizeH2: 3em;
    --FontSizeH3: 2em;
    --FontSizeP: 1em;
    --FontSizeText: 1em;
    --InitialDelay: 2s;
    --PointerEffects: none;
  }

  a {
    all: unset;
}

.CBlack {
    color: var(--black);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Questrial';
    scroll-behavior: smooth;
    background-color: var(--backgroundColor);
}

.spline-watermark {
    display: none;
}

spline-viewer {
    height: 100vh;
    animation: disolve 2s 1.9s both;
    position: fixed;
    top: 0;
    z-index: 0;
    transition: 0.1s;
}

.ImgBackground {
    height: 100vh;
    width: 100%;
    position: fixed;
    animation: disolve 2s 0.5s both;
    top: 0;
    z-index: 0;
    transition: 1s;
    background-image: url("/Portfolio/Img/CropBgImg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.PageContentContainer {
    animation: HiddenDisplay 1s calc(var(--InitialDelay) - 0.5s) both;
}

@keyframes HiddenDisplay {
    from {height: 100dvh;
        overflow-y: hidden;}
    to {height: none;}
}

.PageContentContainer section {
    z-index: 2;
    position: relative;
}

#StartSection {
    scroll-snap-align: start;
    height: 100vh;
}

#ThreeDBackground {
    position: absolute;
}

.sectionContainer {
    width: 100dvw;
    top: var(--yMargin);
    margin-left: var(--xMargin);
    margin-right: var(--xMargin);
    bottom: var(--yMargin);
    width: calc(100dvw - (var(--xMargin) * 2));
    transition: 0.2s;
}

#titleSectionContainer {
    pointer-events: auto;
    position: absolute;
}

h1 {
    font-family: var(--FontName), var(--FontFamily);
    font-weight: var(--FontWheight-ExtraBold);
    font-size: var(--FontSizeH1);
    color: (var(--black));
}

h2 {
    font-family: var(--FontName), var(--FontFamily);
    font-weight: var(--FontWheight-ExtraBold);
    font-size: var(--FontSizeH2);

}

#NameContainer {
    display: inline-block;
}

#Name {
    border-right: 0em solid;
    pointer-events: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: 1s;
    animation: 
        typing 2.5s calc(var(--InitialDelay) + 0s) both,
        cursor 0.4s step-end infinite alternate;
}

#ZeroProfession {
    max-width: fit-content;
    max-width: -moz-fit-content;
    margin-top: -2em;
    pointer-events: auto;
    color: var(--orange);
    animation: disolve 1s calc(var(--InitialDelay) + 2s) both,
    textPop1 3s 4s infinite;
    transition: 1s;
}

#ZeroProfession:hover {
    font-size: 1.1em;
    transition: 0.5s;
}

#FirstProfession {
    max-width: fit-content;
    max-width: -moz-fit-content;
    margin-left: 2em;
    pointer-events: auto;
    margin-top: -1.65em;
    color: var(--green);
    animation: disolve 1s calc(var(--InitialDelay) + 2.4s) both,
    textPop2 3s 4s infinite;
    transition: 1s;
}
#FirstProfessionITA {
    max-width: fit-content;
    max-width: -moz-fit-content;
    margin-left: 2.8em;
    pointer-events: auto;
    margin-top: -1.65em;
    color: var(--green);
    animation: disolve 1s calc(var(--InitialDelay) + 2.4s) both,
    textPop2 3s 4s infinite;
    transition: 1s;
}

#FirstProfession:hover {
    font-size: 1.1em;
    transition: 0.5s;
}

#SecondProfession {
    max-width: fit-content;
    max-width: -moz-fit-content;
    margin-top: -2em;
    pointer-events: auto;
    color: var(--blue);
    animation: disolve 1s calc(var(--InitialDelay) + 2.8s) both,
    textPop3 3s 4s infinite;
    transition: 1s;
}

#SecondProfession:hover {
    font-size: 1.1em;
    transition: 0.5s;
}

@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    0% {width: 0;
        border-right: 0.1em solid;}
    95% {width: 100%;
        border-right: 0.1em solid;}
    100% {border-right: 0em solid;}
}

@keyframes disolve {
    from {opacity: 0;}
    to {opacity: 1;}
}

.notification{
    color: var(--NotificationTextColor);
    background-color: var(--NotificationColor);
    padding: 0.8em 1.2em 0.8em 1.2em; 
    border-radius: 0.4em;
    text-align: center;
}

#Loading {
    font-family: var(--FontName), var(--FontFamily);
    position: absolute;
    bottom: 1.25em;
    left: 1em;
    animation: disolveToZero 1s calc(var(--InitialDelay) - 0.5s) both;
}

#LearnMore {
    font-family: var(--FontName), var(--FontFamily);
    position: fixed;
    bottom: 1.25em;
    right: 1em;
    width: 11em;
}

#InputMode {
    font-family: var(--FontName), var(--FontFamily);
    position: fixed;
    bottom: 1.25em;
    right: 1em;
    width: 12.5em;
    pointer-events: auto;
    height: 3.5em;
    z-index: 10;
}

#Lang {
    font-family: var(--FontName), var(--FontFamily);
    position: fixed;
    bottom: 1.25em;
    left: 1em;
    animation: disolveToOne 1s var(--InitialDelay) both;
}

#InputLangITA {
    font-family: var(--FontName), var(--FontFamily);
    position: fixed;
    bottom: 1.25em;
    left: 1em;
    width: 5em;
    pointer-events: auto;
    height: 3.5em;
    z-index: 10;
    background-color: none;
}

#InputLangENG {
    font-family: var(--FontName), var(--FontFamily);
    position: fixed;
    bottom: 1.25em;
    left: 1em;
    width: 5em;
    pointer-events: auto;
    height: 3.5em;
    z-index: 10;
    background-color: none;
}

@keyframes disolveToZero {
    from {opacity: 1;}
    to {opacity: 0;
        transform: scale(0.8);}
}

@keyframes disolveToOne {
    from {opacity: 0;
        transform: scale(0.8) translate(-3em);}
    to {opacity: 1;
        transform: scale(1) translate(0em);}
}

@keyframes textPop1 {
    0% {transform: scale(1);
    }
    15% {transform: scale(1.05) translate(0.2em, -0.1em);
    }
    30% {transform: scale(1);
    }
}
@keyframes textPop2 {
    35% {transform: scale(1);
    }
    50% {transform: scale(1.05) translate(0.2em, -0.1em);
    }
    65% {transform: scale(1);
    }
}
@keyframes textPop3 {
    70% {transform: scale(1);
    }
    85% {transform: scale(1.05) translate(0.2em, 0.1em);
    }
    100% {transform: scale(1);
    }
}














.WithLineContainer {
    min-height: 5em;
    position: relative;
    display: flex;
}

.line {
    flex: 1;
    max-width: 1em;
    border-radius: 2em;
}

.WithLineContentContainer{
    flex: 1;
    background-color: none;
    margin-left: 1em;
}

h3 {
    font-family: var(--FontName), var(--FontFamily);
    font-weight: var(--FontWheight-SemiBold);
    font-size: var(--FontSizeH3);
    margin-top: 0em;
}

p {
    font-family: var(--FontName), var(--FontFamily);
    font-weight: var(--FontWheight-Regular);
    font-size: var(--FontSizeText);
    color: (var(--black));
    margin-top: -2em;
}

ul {
    margin-top: -1em;
}

.StatusIndicatorContainer {
    height: 1.5em;
    border: 0.23em solid;
    border-radius: 3em;
    max-width: 40em;
    margin-left: 0em;
    position: relative;
    margin-bottom: 1em;
}

.StatusIndicator {
    height: calc(100% - 0.25em);
    width: calc(100% - 0.30em);
    border-radius: 3em;
    margin: 0.15em 0.15em 0.15em 0.15em;
    font-size: 0.775em;
    font-family: var(--FontName), var(--FontFamily);
    font-weight: var(--FontWheight-Regular);
    text-align: center;
}

.StatusIndicatorContainer::before {
    position: absolute;
    left: -3em;
    height: 2em;
}

.Status50perc {
    width: calc(50% - 0.30em);
    background-color: var(--yellow);
}

.Status100perc {
    width: calc(100% - 0.30em);
    background-color: var(--green);
}

.Status25perc {
    width: calc(25% - 0.30em);
    background-color: var(--orange);
}

.Status75perc {
    width: calc(75% - 0.30em);
    background-color: var(--yellow);
}







#python {
    margin-left: 3em;
}

#python::before {
    content: url('/Portfolio/Img/Python.png');
    transform: translate(-15em, -1.3em) scale(0.065);
}

#JS {
    margin-left: 3em;
}

#JS::before {
    content: url('/Portfolio/Img/JS.png');
    transform: translate(-31.8em, -1.3em) scale(0.03);
}

#HTML {
    margin-left: 3em;
}

#HTML::before {
    content: url('/Portfolio/Img/HTML.png');
    transform: translate(-15em, -1.3em) scale(0.065);
}

#CSS {
    margin-left: 3em;
}

#CSS::before {
    content: url('/Portfolio/Img/CSS.png');
    transform: translate(-44.4em, -1.3em) scale(0.017);
}

#Swift {
    margin-left: 3em;
}

#Swift::before {
    content: url('/Portfolio/Img/Swift.png');
    transform: translate(-15em, -1.3em) scale(0.065);
}

#inventor {
    margin-left: 3em;
}

#inventor::before {
    content: url('/Portfolio/Img/Inventor.png');
    transform: translate(-11.1em, -1.1em) scale(0.065);
}

#blender {
    margin-left: 3em;
}

#blender::before {
    content: url('/Portfolio/Img/Blender.png');
    transform: translate(-77em, -1.3em) scale(0.015);
}

#ItaSpokenLang {
    margin-left: 3em;
}

#ItaSpokenLang::before {
    content: "🇮🇹";
    transform: translate(0em, 0em) scale(2);
}

#EngSpokenLang {
    margin-left: 3em;
}

#EngSpokenLang::before {
    content: "🇬🇧";
    transform: translate(0em, 0em) scale(2);
}

#FraSpokenLang {
    margin-left: 3em;
}

#FraSpokenLang::before {
    content: "🇫🇷";
    transform: translate(0em, 0em) scale(2);
}






.WithIMGContainer {
    background-color: antiquewhite;
    min-height: 5em;
    position: relative;
    display: flex;
}

.MePhoto {
    flex: 1;
    min-width: 10em;
    min-height: 10em;
    max-width: 10em;
    max-height: 10em;
    background-image: url("Img/Me.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em;
    margin-right: 1em;
}

.WithPhotoContentContainer{
    flex: 1;
    background-color: none;
    margin-left: 1em;
    min-width: 20em;
}







@media screen and (max-width: 1000px) {
    #titleSectionContainer {
        pointer-events: auto;
    }
}

@media screen and (min-width: 672px) {
    .centerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #MeInfoMobile{
        display: none;
    }
  }

@media screen and (max-width: 672px) {
    :root {
        --FontSizeH1: 3em;
        --FontSizeH2: 2em;
        --FontSizeText: 1em;
        --FontSizeH3: 1.5em;
        --xMargin: 3em;

    }
    .WithPhotoContentContainer {
        min-width: 10em;
    }
    .Status25perc {
        width: calc(30% - 0.30em);
    }
    #MeInfoDextop{
        display: none;
    }
    #MeInfoMobile{
        margin-top: 1em;
    }
    p {
        margin-top: -1.5em;
    }
    .notification {
        padding: 0.7em 1em 0.7em 1em; 
    }
  }


@media screen and (max-width: 470px) {
    :root {
        --FontSizeH1: 2.6em;
        --FontSizeH2: 1.6em;
        --FontSizeText: 1em;
        --FontSizeH3: 1.3em;
        --xMargin: 1.2em;
    }
    p {
        margin-top: -1em;
    }
    .WithPhotoContentContainer {
        min-width: 5em;
    }
}

@media screen and (max-width: 365px) {
    :root {
        --FontSizeH1: 2.3em;
        --FontSizeH2: 1.3em;
        --FontSizeText: 0.9em;
        --FontSizeH3: 1.1em;
        --xMargin: 0.9em;
    }
    .Status25perc {
        width: calc(40% - 0.30em);
    }
    .Status50perc {
        width: calc(60% - 0.30em);
    }
    .notification {
        padding: 0.5em 0.8em 0.5em 0.8em; 
    }
}

@media screen and (max-height: 1000px) {
    :root {
        --yMargin: 1em;
    }
}
@media screen and (max-height: 900px) {
    :root {
        --yMargin: 0.5em;
    }
}

.BgGreen {
    background-color: var(--green);
}

.CGreen {
    color: var(--green);
}

.BoGreen {
    border-color: var(--green);
}

.CWhite {
    color: var(--white);
}

.BgBlue {
    background-color: var(--blue);
}

.CBlue {
    color: var(--blue);
}

.BoBlue {
    border-color: var(--blue);
}

.BgOrange {
    background-color: var(--orange);
}

.COrange {
    color: var(--orange);
}

.BoOrange {
    border-color: var(--orange);
}

.Mtop2 {
    margin-top: 2em;
}

.Mtop0 {
    margin-top: -2em;
}

#Mtop0 {
    margin-top: 0em;
}

.maxWidt30Em {
    max-width: 30em;
}

.flexBoxCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: blue;
}

.InBlockSemi {
    display: inline-block;
    font-weight: var(--FontWheight-SemiBold);
}

.MeInfo {
    font-family: var(--FontName), var(--FontFamily);
    font-weight: var(--FontWheight-Regular);
    font-size: var(--FontSizeP);
    margin-top: 0em;
}

.spacerUp {
    height: 8em;
}

.spacerDown {
    height: 5em;
}

hr {
    border-style: dashed solid;
    z-index: 10;
}

.Blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: var(--whiteNotFull);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.OpZero {
    opacity: 0;
    transition: 1s;
}

.OpOne {
    opacity: 1;
    transition: 1s;
}

.Underline {
    text-decoration: underline;
}

#BackToTop {
    width: 1em;
    z-index: 100;
    position: fixed;
    left: 50%;
    transition: 0.5s;
}

@media screen and (min-width: 1000px) {
    #BackToTop:hover {
        transform: scale(1.2) translate(-42.5%, 0em);
        transition: 0.2s;
    }
    #BackToTop:hover #backToTopArrow{
        transform: scale(1.2) rotate(270deg);
        transform: rotate(270deg) scale(1.5);
        transition: 0.3s;
    }
}

#BackToTop:active {
    transform: scale(0.9) translate(-55%, 0em);
    transition: 0.2s;
    opacity: 0.8;
}

#BackToTop:active #backToTopArrow{
    transform: scale(1.2) rotate(270deg);
    transform: rotate(270deg) scale(0.8);
    transition: 0.3s;
}

.BackToTopVisible {
    bottom: 1.5em;
    transform: scale(1) translate(-50%, 0em);
}

.BackToTopHidden {
    bottom: -3em;
    transform: scale(2, 0.01) translate(-25%, 0em);
    opacity: 0;
}


.roteate90 {
    transform: rotate(270deg);
}

#backToTopArrow {
    transition: 0.75s;
}

.AnimateBackToTopEnd {
    animation: backToTopArrowEndOfPage 1s 0s both;
}



@keyframes backToTopArrowPop {
    0% {transform: rotate(270deg) scale(1);}
    50% {transform: rotate(270deg) scale(1.5);}
    100% {transform: rotate(270deg) scale(1);}
}

@keyframes backToTopArrowEndOfPage{
    0% {transform: translate(-50%, -0.5em) rotate(0deg) scale(1);}
    20% {transform: translate(-50%, -0.5em) rotate(20deg) scale(1.25);}
    40% {transform: translate(-50%, -0.5em) rotate(-20deg) scale(1.25);}
    60% {transform: translate(-50%, -0.5em) rotate(20deg) scale(1.25);}
    80% {transform: translate(-50%, -0.5em) rotate(-20deg) scale(1.25);}
}

.slidingToTopAnimation {
    opacity: 0;
    bottom: 14em;
    transition: 1s;
    transform: scale(2) translate(-30%);
}